!######################################
!########### URXVT CONFIG #############
!######################################

#include "/home/kwkaiser/.Xresources.d/urxvt"

!######################################
!########### COLOR CONFIG #############
!######################################

#include "/home/kwkaiser/.Xresources.d/xcolors"
